html {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
  color: #333;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
}
