html {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
  color: #333;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-weight: bold;
}

body {
  display: inline-block;
}

p {
  display: inline-block;
  max-width: 25em;
  font-weight: bold;
}

nav {
  display: inline-block;
  border-style: solid;
  border-radius: 7px;
  padding: .5em;

}
