html {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
  color: #000;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  margin: 3em 1em;
}

img {
  width: 100%;
  max-width:23em;
  text-align: center;
  display: inline-block;
}

h1 {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}

p {
  display: inline-block;
  max-width: 23em;
  font-weight: bold;
  color: #333;
}

nav {
  margin-top: 18px
}

a {
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  padding: .6em .6em;
  text-align: left;
  border: 3px solid #333;
  border-radius: 7px;
}

a:hover {
  color: #fff;
  background-color: #666;
  border: 3px solid #666;
}
